*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(max-width:378px) {
    .partners {
        padding-top: 59px;
        padding-bottom: 59px;
    }

    .partners-conntainer {
        gap: 35px;
    }

    .partners-title {
        margin-right: 0;
    }

    .partners-logo {
        width: 150px;
        height: 60px;
    }
}

.prices {
    padding-top: 410px;
    padding-bottom: 97px;
}

.prices-container {
    max-width: 1525px;
    width: 100%;
    height: 969px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    position: relative;
}

.prices-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    text-align: center;
    margin-bottom: 31px;
}

.prices-line {
    max-width: 125px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.prices-btn-box {
    max-width: 437px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 86px;
}

.prices-btn {
    max-width: 215px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    cursor: pointer;
}

.prices-btn-active {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
}

.prices-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 1s;
}

.prices-card-right {
    position: absolute;
    right: 0;
}

.prices-card-left {
    position: absolute;
    left: -1525px;
}

.prices-card {
    max-width: 487px;
    width: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 67px;
    position: relative;
}

.card-center {
    border-radius: 10px;
    background: rgb(24, 24, 24);
}

.prices-card-img {
    display: block;
}

.prices-card-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 190%;
    margin-top: 29px;
}

.prices-card-text {
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 55px;
}

.prices-card-line {
    max-width: 182.5px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 52px;
}

.prices-card-number {
    margin-bottom: 47px;
}

.prices-card-number-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 125.5%;
}

.see-feature-link {
    max-width: 215px;
    width: 100%;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
}

.most-popular {
    position: absolute;
    max-width: 215px;
    width: 100%;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    border: none;
    top: -30px;
}

@media(max-width:768px) {
    .prices-container {
        height: 2470px;
    }

    .prices-card-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        gap: 35px;
    }
}

@media(max-width:378px) {
    .prices {
        padding-bottom: 70px;
        padding-top: 210px;
    }

    .prices-container {
        height: 2200px;
    }

    .prices-card {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .prices-btn-box {
        margin-bottom: 40px;
    }

    .prices-card-img {
        width: 80px;
        height: 80px;
    }

    .prices-title {
        font-size: 40px;
        font-weight: 600;
    }

    .prices-card-title {
        font-size: 25px;
        margin-top: 20px;
    }

    .prices-card-text {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .prices-line {
        margin-bottom: 40px;
    }

    .prices-card-number-text {
        font-size: 30px;
    }
}

.contact {
    padding-top: 97px;
    padding-bottom: 143px;
}

.contact-container {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.form {
    max-width: 739px;
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgb(14, 14, 14);
    padding: 61px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-top-inp {
    display: flex;
    gap: 20px;
}

.mini-inp {
    max-width: 298px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    border: none;
    outline: none;
    padding-left: 29px;
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.mini-inp::placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.big-inp {
    max-width: 616px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    border: none;
    outline: none;
    padding-left: 29px;
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.big-inp::placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.contact-bottom-inp {
    display: flex;
    gap: 20px;
}

.send {
    margin-top: 28px;
    max-width: 616px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(0, 163, 255);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    border: 1px solid rgb(0, 163, 255);
    transition: all .3s;
}

.send:hover {
    background-color: transparent;
}

.contact-right {
    max-width: 659px;
    width: 100%;
    margin-top: 139px;
}

.contact-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 9px;
}

.contact-line {
    max-width: 125.5px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-left: auto;
    margin-right: 70px;
    margin-bottom: 81px;
}

.contact-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
    margin-bottom: 44px;
}

.contact-us-link {
    max-width: 196px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(0, 163, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    border: 1px solid rgb(0, 163, 255);
    transition: all .3s;
}

input {
    padding-right: 10px;
}

.contact-us-link:hover {
    background-color: transparent;
}

@media(max-width:768px) {
    .contact {
        padding-bottom: 120px;
    }

    .form {
        padding: 40px;
    }

    .mini-inp {
        padding-left: 10px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-right {
        margin-top: 100px;
    }

    .contact-line {
        margin-bottom: 50px;
    }
}

@media(max-width:378px) {
    .contact {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .contact-right {
        margin-top: 65px;
    }

    .form {
        padding: 20px;
        gap: 10px;
    }

    .contact-top-inp {
        gap: 10px;
    }

    .contact-bottom-inp {
        gap: 10px;
    }

    .contact-title {
        font-size: 40px;
        text-align: center;
    }

    .contact-line {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .contact-text {
        margin-bottom: 30px;
        text-align: justify;
    }
}

.footer {
    padding-top: 143px;
    padding-bottom: 50px;
}

.footer-container {
    max-width: 1293px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-list {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.footer-nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}

.footer-center {
    max-width: 508px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
    text-align: center;
}

.footer-center-icon-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-icon-link {
    text-decoration: none;
    display: flex;
}

@media(max-width:768px) {
    .footer {
        padding-top: 120px;
    }

    .footer-container {
        flex-direction: column;
        gap: 25px;
    }

    .footer-center {
        gap: 20px;
    }
}

@media(max-width:378px) {
    .footer {
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .footer-container {
        gap: 20px;
    }
}

/* about page */
.about-hero {
    padding-top: 159px;
    padding-bottom: 144px;
}

.about-hero-container {
    max-width: 1506px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-hero-left {
    max-width: 654px;
    width: 100%;
}

.about-hero-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 31px;
}

.about-hero-line {
    max-width: 125.5px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-bottom: 24px;
}

.about-hero-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.about-hero-right {
    max-width: 800px;
    width: 100%;
    position: relative;
    height: 750px;
}

.about-hero-senior-img {
    width: 395px;
    height: 527px;
    display: block;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.about-hero-midle-img {
    width: 393.58px;
    height: 524.77px;
    display: block;
    position: absolute;
    right: 0;
    top: 114px;
    left: 410px;
    object-fit: cover;
}

.about-hero-jubior-img {
    width: 241px;
    height: 321px;
    display: block;
    position: absolute;
    top: 425px;
    left: 234px;
}

.habits-680 {
    max-width: 680px;
    width: 100%;
}

.mb-24 {
    margin-bottom: 24px;
}

.habits-bg {
    background-image: url(../img/tiny-png/habits-bg.png);
    max-width: 738px;
    height: 788px;
    max-width: 748px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
    margin-right: 10px;
}

.hours-transparament {
    width: 335px;
    height: 320px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    margin-left: 24px;
    background-color: transparent;
}

.padding-top {
    padding-top: 144px;
}

@media(max-width:768px) {
    .about-hero {
        padding-top: 50px;
        padding-bottom: 110px;
    }

    .about-hero-container {
        flex-direction: column-reverse;
    }

    .about-hero-senior-img {
        width: 350px;
        height: 487px;
        display: block;
        object-fit: cover;
    }

    .about-hero-midle-img {
        left: 365px;
        width: 350px;
        height: 484px;
        display: block;
        object-fit: cover;
    }

    .about-hero-jubior-img {
        width: 200px;
        height: 281px;
        object-fit: cover;
    }
    .habits-bg{
        height: 500px;
    }
    .about-hero-right {
        overflow: hidden;
    }

    .about-hero-title {
        font-size: 54px;
        margin-bottom: 20px;
    }
}

@media(max-width:378px) {
    .about-hero {
        padding-top: 35px;
        padding-bottom: 80px;
    }

    .about-hero-title {
        font-size: 40px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .about-hero-line {
        display: none;
    }

    .about-hero-text {
        text-align: justify;
    }

    .about-hero-right {
        height: 500px;
    }

    .about-hero-senior-img {
        width: 230px;
        height: 367px;
    }

    .about-hero-midle-img {
        top: 120px;
        left: 0;
        width: 230px;
        height: 300px;
        left: 150px;
    }

    .about-hero-jubior-img {
        width: 200px;
        height: 250px;
        top: 250px;
        left: 50px;
    }
}

.success {
    padding-top: 251px;
    padding-bottom: 182px;
}

.success-container {
    max-width: 1550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.success-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 201px;
    text-align: center;
}

.success-card-container {
    display: flex;
    flex-direction: column;
    gap: 302px;
}

.choise-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.choise-box-img {
    max-width: 788px;
    width: 100%;
    object-fit: cover;
}

.choise-right {
    max-width: 712px;
    width: 100%;
}

.choise-box-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 17px;
}

.choise-box-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
    margin-bottom: 38px;
}

.choise-title-2 {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 17px;
}

.choise-ul-box {
    max-width: 588px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 51px;
}

.choise-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.choise-nav-item {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

@media(max-width:1086px) {
    .success {
        padding-top: 110px;
        padding-bottom: 130px;
    }

    .success-container {
        flex-direction: column;
        gap: 100px;
    }

    .success-card-container {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }

    .success-title {
        margin-bottom: 100px;
    }

    .choise-box {
        flex-direction: column;
        gap: 25px;
    }

    .success-title {
        font-size: 50px;
        font-style: 600px;
    }


}

@media(max-width:378px) {
    .success {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    .success-title {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 60px;
    }

    .success-card-container {
        gap: 80px;
    }

    .choise-box-img {
        width: 300px;
    }

    .choise-box-title {
        font-size: 27px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }

    .choise-box-text {
        line-height: 140%;
        text-align: justify;
        margin-bottom: 25px;
    }

    .choise-title-2 {
        font-size: 27px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }

    .choise-nav-item {
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 5px;
        min-width: 120px;
    }

    .choise-box {
        gap: 20px;
    }
}

.team {
    padding-top: 182px;
    padding-bottom: 176px;
}

.team-container {
    max-width: 1501px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.margin-101 {
    margin-bottom: 101px;
}

.team-bottom-box {
    width: 100%;
    /* filter: blur(15px);
    background: rgba(187, 187, 187, 0.51); */
    display: flex;
    align-items: center;
    gap: 20px;
}

.team-card {
    max-width: 487px;
    width: 100%;
    height: 593px;
    border-radius: 10px;
    background: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 52px;
}

.team-card-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 35px;
    font-weight: 700;
    /* line-height: 190%; */
}

.team-card-text {
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 21px;
}

@media(max-width:768px) {
    .team {
        padding-top: 130px;
        padding-bottom: 97px;
    }

    .team-bottom-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .team-card{
        height: 400px;
    }
    .team-card-title {
        font-size: 25px;
    }

    .contact-title {
        margin-top: 15px;
    }
}

@media(max-width:378px) {}

.padding-bottom-195 {
    padding-bottom: 62px;
}

.form-border-none {
    max-width: 739px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-0 {
    margin-top: 0;
}

.border-none-1 {
    border-radius: 0;
}

/* services page */
.services-hero {
    padding-top: 304px;
    padding-bottom: 372px;
}

.services-hero-container {
    max-width: 1506px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.services-hero-left {
    max-width: 807px;
    width: 100%;
    width: 100%;
    position: relative;
    z-index: 11;
}

.services-hero-title {
    color: rgb(255, 255, 255);
    font-family: Nunito, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.services-hero-text {
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 56px;
}

.services-hero-link-box {
    display: flex;
    align-items: center;
    gap: 32px;
}

.services-hero-link {
    display: flex;
}

.services-hero-right {
    max-width: 835.68px;
    width: 100%;
    height: 1015.13px;
    object-fit: cover;
    position: absolute;
    right: -410px;
}

@media(max-width:1141px) {
    .services-hero {
        padding-top: 50px;
        padding-bottom: 93px;
    }

    .services-hero-container {
        justify-content: center;
    }

    .services-hero-title {
        font-size: 55px;
        margin-bottom: 20px;
    }

    .services-hero-text {
        margin-bottom: 40px;
    }

    .services-hero-right {
        display: none;
    }
}

.popular {
    padding-bottom: 288px;
}

.popular-container {
    max-width: 1672px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.popular-title {
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: Syne, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2%;
    text-align: center;
    color: white;
}

.popular-link {
    max-width: 140px;
    width: 100%;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 99px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
}

.popular-logo-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin-bottom: 20px;
}

.popular-logo-link {
    display: flex;
}

.popular-logo {
    max-width: 127px;
    width: 100%;
    height: 129px;
    object-fit: cover;
}

@media(max-width:768px) {
    .popular {
        padding-top: 93px;
        padding-bottom: 144px;
    }

    .popular-link {
        margin-bottom: 60px;
    }

    .popular-logo-box {
        transition: all .5s;
        overflow: hidden;
        height: 340px;
    }
}

.questions-container {
    max-width: 1147px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.questions-title {
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-bottom: 77px;
}

.questions-title-span {
    color: rgb(0, 163, 255);
}

.questions-box {}

.questions-btn {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 163, 255);
}

.questions-btn-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: pointer;
}

.questions-btn-title {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 27px;
}

.questions-img {
    transition: all .5s;
}

.rotate {
    transition: all .5s;
    transform: rotate(180deg);
}

.questions-box-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 12px;
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.mt-48 {
    margin-top: 48px;
}

.active2 {
    transition: all .5s;
    height: 50px;
}

@media(max-width:768px) {
    .questions-title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .questions-btn-title {
        font-size: 18px;
    }
}

.best {
    padding-bottom: 259px;
}

.best-container {
    max-width: 1550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 163px;
}

.h-186 {
    height: 186px;
}

.h-50px {
    height: 50px;
}