* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(14, 14, 14);
    overflow-x: hidden;
}

.header {
    padding-top: 52px;
    padding-bottom: 53px;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1237px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 66px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    transition: all .3s;
}

.nav-link:hover {
    color: rgb(0, 163, 255);
}

.products-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.header-btn-box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.search-btn {
    background-color: transparent;
    width: 29px;
    height: 29px;
    border: none;
}

.hamburger-btn {
    background-color: transparent;
    width: 43px;
    height: 25px;
    border: transparent;
    display: none;
    cursor: pointer;
}
.x_btn{
    width: 20px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    top: 32px;
    left: 80%;
}
.search-btn{
    max-width: 28px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    position: relative;
}
.search-inp{
    border: 2px solid rgb(0, 163, 255);
    border-radius: 20px;
    width: 250px;
    height: 29px;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
    font-family: sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: block;
    position: relative;
    z-index: 1;
    left: -250px;
    transition: all .3s;
}
@media(max-width:927px) {
    .header {
        padding-top: 32px;
        padding-bottom: 33px;
    }

    .nav-list {
        display: none;
    }

    .header-btn-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .hamburger-btn {
        display: block;
    }
}
@media(max-width:768px){
}
.hiddem-navbar {
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
    left: -65%;
    transition: all .3s;
    z-index: 111;
}

.bg-del {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    left: 100%;
    transition: all .5s;
}

.hiddem-navbar-container {
    position: relative;
    max-width: 1237px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 20px;
}

.nav-list-hidden {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 111;
}

.footer-center-hidden {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
    bottom: -95%;
}
.footer-nav-link{
    transition: all .3s;
}
.footer-nav-link:hover{
    color: rgb(0, 163, 255);
}
@media(min-width:927px){
    .hiddem-navbar{
        display: none;
    }
}
.hero {
    padding-top: 63px;
    padding-bottom: 161px;
}

.hero-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1377px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    max-width: 658px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 128%;
    text-align: left;
}

.hero-title-line {
    display: inline-block;
    max-width: 238px;
    width: 100%;
    height: 1px;
    border: 1px solid rgb(0, 163, 255);
}

.hero-vergul {
    display: inline-block;
    font-size: 120px;
    height: 39px;
    display: inline-block;
    color: rgb(0, 163, 255);
}

.hero-img {
    max-width: 434px;
    width: 100%;
    display: block;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
}

@media(min-width:1440px) {
    .header-container {
        position: relative;
        left: 134px;
    }
}

@media(max-width:927px) {
    .hero {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .hero-container {
        flex-direction: column-reverse;
        gap: 25px;
        font-size: 20px;
    }

    .hero-title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
    }
}
@media(max-width:378px) {
    .hero {
        padding-top: 35px;
        padding-bottom: 60px;
    }

    .hero-img {
        width: 295px;
        height: 300px;
    }

    .hero-title {
        font-size: 35px;
    }

    .hero-title-line {
        display: none;
    }

    .hero-vergul {
        display: none;
    }
}

/* .blur-bg {
    max-width: 457px;
    width: 100%;
    height: 476px;
    background-image: url(../img/Rectangle\ 129.png);
    display: flex;
    align-items: center;
    justify-content: center;
} */
.artificial {
    padding-top: 131px;
    padding-bottom: 146px;
}

.artificial-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1424px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 80px;
}

.artificial-title {
    max-width: 490px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.artificial-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

.artificial-line {
    max-width: 238px;
    width: 100%;
    border: 1px solid rgb(0, 163, 255);
    margin-left: auto;
    margin-top: 14px;
    margin-bottom: 36px;
}

.learn-more-link {
    display: inline-block;
    max-width: 242px;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
    border: 1px solid rgb(0, 163, 255);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin-top: 47px;
    cursor: pointer;
}

.learn-more-link:hover {
    background-color: transparent;
}

.artificial-img {
    display: block;
    max-width: 739px;
    width: 100%;
    height: 493px;
    border-radius: 20px;
    object-fit: cover;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
}

@media(max-width:1200px) {
    .artificial {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .artificial-container {
        flex-direction: column;
    }

    .artificial-title {
        font-weight: 600;
    }

    .artificial-line {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .learn-more-link {
        margin-top: 40px;
    }

    .artificial-img {
        max-width: 658px;
        height: 444px;
    }
}

@media(max-width:378px) {
    .artificial {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .artificial-container {
        gap: 50px;
    }

    .artificial-title {
        font-size: 30px;
        line-height: 120%;
        font-weight: 600;
    }

    .artificial-line {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 0;
    }

    .artificial-text {
        font-size: 18px;
        line-height: 120%;
    }

    .learn-more-link {
        margin-top: 25px;
    }

    .artificial-img {
        max-width: 340px;
        width: 100%;
        height: 250px;
        display: block;
    }
}

.design {
    padding-top: 146px;
    padding-bottom: 133px;
}

.design-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1502px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.design-left {
    max-width: 748px;
    width: 100%;
    height: 815px;
    background-image: url(../img/tiny-png/andrew-neel-QLqNalPe0RA-unsplash\ 1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
    margin-right: 10px;
}

.hours {
    width: 335px;
    height: 320px;
    border-radius: 14px;
    background: linear-gradient(134.71deg, rgba(236, 241, 230, 0.58) 4.934%, rgba(65, 65, 75, 0.71) 65.612%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    margin-left: 24px;
}

.border-hours {
    position: absolute;
    bottom: 19px;
    left: 29px;
    padding-left: 48px;
    padding-bottom: 48px;
    border-left: 1px solid rgb(0, 163, 255);
    border-bottom: 1px solid rgb(0, 163, 255);
}

.hours-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 150%;
}

.hours-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.design-right {
    max-width: 657px;
    width: 100%;
}

.design-right-title {
    max-width: 550px;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 17px;
}

.design-right-line {
    display: inline-block;
    max-width: 125px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-bottom: 14px;
}

.design-right-text {
    margin-top: 17px;
    margin-bottom: 93px;
    max-width: 601px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
}

.vision-btn {
    transition: all .3s;
    max-width: 640px;
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.vision-btn-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 190%;
    text-align: left;
}

.vector-btn {
    width: 21px;
    height: 11px;
}

.btn-center-line {
    max-width: 651px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 163, 255, 0.2);
    margin-top: 23px;
    margin-bottom: 15px;
}

.vision-btn-text {
    height: 100px;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
    max-width: 593px;
    width: 100%;
    text-align: left;
    margin-left: 27px;
    overflow: hidden;
    height: 0px;
    transition: all .5s;
}

.active {
    transition: all .5s;
    height: 146px;
    margin-top: 23px;
}

@media(min-width:1440px) {
    .design-container {
        max-width: 1708px;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:768px) {
    .design {
        padding-top: 120px;
        padding-bottom: 65px;
    }

    .design-container {
        flex-direction: column;
    }

    .design-left {
        max-width: 674px;
        height: 674px;
    }

    .hours {
        max-width: 278px;
        height: 274px;
    }

    .hours-title {
        font-size: 65px;
    }

    .design-right-title {
        font-size: 35px;
        font-weight: 600;
    }
    
    .design-right-text {
        margin-bottom: 50px;
        font-size: 17px;
        line-height: 22px;
    }
    .vision-btn-text{
        font-size: 17px;
        line-height: 22px;
    }
}

@media(max-width:378px) {
    .design {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    .design-left {
        max-width: 320px;
        width: 100%;
        height: 500px;
        border-radius: 20px;
    }

    .hours {
        width: 215px;
        height: 200px;
    }

    .hours-title {
        font-size: 40px;
    }

    .hours-text {
        font-size: 16px;
    }

    .design-right-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
    }

    .design-right-line {
        display: none;
    }

    .design-right-text {
        font-size: 18px;
        margin-bottom: 50px;
        text-align: center;
        line-height: 140%;
    }

    .vision-btn-title {
        font-size: 25px;
    }

    .vision-btn-text {
        font-size: 15px;
        line-height: 150%;
        margin-left: 0;
    }
}

