* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(14, 14, 14);
}

.header {
    padding-top: 52px;
    padding-bottom: 53px;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1237px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 66px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    transition: all .3s;
}

.nav-link:hover {
    color: rgb(0, 163, 255);
}

.products-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.header-btn-box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.search-btn {
    background-color: transparent;
    width: 29px;
    height: 29px;
    border: none;
}

.hamburger-btn {
    background-color: transparent;
    width: 43px;
    height: 25px;
    border: transparent;
    display: none;
    cursor: pointer;
}

@media(max-width:927px) {
    .header {
        padding-top: 32px;
        padding-bottom: 33px;
    }

    .nav-list {
        display: none;
    }

    .header-btn-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .hamburger-btn {
        display: block;
    }
}

.hiddem-navbar {
    width: 65%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
    left: -65%;
    transition: all .5s;
    z-index: 111;
}

.bg-del {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    left: 100%;
    transition: all .5s;
}

.hiddem-navbar-container {
    max-width: 1237px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 20px;
}

.nav-list-hidden {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 111;
}

.footer-center-hidden {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.hero {
    padding-top: 63px;
    padding-bottom: 131px;
}

.hero-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1377px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    max-width: 658px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 128%;
    text-align: left;
}

.hero-title-line {
    display: inline-block;
    max-width: 238px;
    width: 100%;
    height: 1px;
    border: 1px solid rgb(0, 163, 255);
}

.hero-vergul {
    display: inline-block;
    font-size: 120px;
    height: 39px;
    display: inline-block;
    color: rgb(0, 163, 255);
}

.hero-img {
    max-width: 434px;
    width: 100%;
    height: 466px;
    display: block;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
}

@media(min-width:1440px) {
    .header-container {
        position: relative;
        left: 134px;
    }
}

@media(max-width:927px) {
    .hero {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .hero-container {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .hero-title {
        text-align: center;
        font-size: 50px;
        font-weight: 600;
    }
}

@media(max-width:378px) {
    .hero {
        padding-top: 35px;
        padding-bottom: 60px;
    }

    .hero-img {
        width: 295px;
        height: 300px;
    }

    .hero-title {
        font-size: 35px;
    }

    .hero-title-line {
        display: none;
    }

    .hero-vergul {
        display: none;
    }
}

/* .blur-bg {
    max-width: 457px;
    width: 100%;
    height: 476px;
    background-image: url(../img/Rectangle\ 129.png);
    display: flex;
    align-items: center;
    justify-content: center;
} */
.artificial {
    padding-top: 131px;
    padding-bottom: 146px;
}

.artificial-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1424px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 80px;
}

.artificial-title {
    max-width: 490px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.artificial-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

.artificial-line {
    max-width: 238px;
    width: 100%;
    border: 1px solid rgb(0, 163, 255);
    margin-left: auto;
    margin-top: 14px;
    margin-bottom: 36px;
}

.learn-more-link {
    display: inline-block;
    max-width: 242px;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
    border: 1px solid rgb(0, 163, 255);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin-top: 47px;
    cursor: pointer;
}

.learn-more-link:hover {
    background-color: transparent;
}

.artificial-img {
    display: block;
    max-width: 739px;
    width: 100%;
    height: 493px;
    border-radius: 20px;
    object-fit: cover;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
}

@media(max-width:1200px) {
    .artificial {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .artificial-container {
        flex-direction: column;
    }

    .artificial-title {
        font-weight: 600;
    }

    .artificial-line {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .learn-more-link {
        margin-top: 40px;
    }
    .artificial-img{
        max-width: 658px;
        height: 444px;
    }
}

@media(max-width:378px) {
    .artificial {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .artificial-container {
        gap: 50px;
    }

    .artificial-title {
        font-size: 30px;
        line-height: 120%;
        font-weight: 600;
    }

    .artificial-line {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 0;
    }

    .artificial-text {
        font-size: 18px;
        line-height: 120%;
    }

    .learn-more-link {
        margin-top: 25px;
    }

    .artificial-img {
        max-width: 340px;
        width: 100%;
        height: 250px;
        display: block;
    }
}

.design {
    padding-top: 146px;
    padding-bottom: 133px;
}

.design-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1502px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.design-left {
    max-width: 748px;
    width: 100%;
    height: 815px;
    background-image: url(../img/tiny-png/andrew-neel-QLqNalPe0RA-unsplash\ 1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
}

.hours {
    width: 335px;
    height: 320px;
    border-radius: 14px;
    background: linear-gradient(134.71deg, rgba(236, 241, 230, 0.58) 4.934%, rgba(65, 65, 75, 0.71) 65.612%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    margin-left: 24px;
}

.border-hours {
    position: absolute;
    bottom: 19px;
    left: 29px;
    padding-left: 48px;
    padding-bottom: 48px;
    border-left: 1px solid rgb(0, 163, 255);
    border-bottom: 1px solid rgb(0, 163, 255);
}

.hours-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 150%;
}

.hours-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.design-right {
    max-width: 657px;
    width: 100%;
}

.design-right-title {
    max-width: 550px;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 17px;
}

.design-right-line {
    display: inline-block;
    max-width: 125px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-bottom: 14px;
}

.design-right-text {
    margin-top: 17px;
    margin-bottom: 93px;
    max-width: 601px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
}

.vision-btn {
    transition: all .3s;
    max-width: 640px;
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.vision-btn-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 190%;
    text-align: left;
}

.vector-btn {
    width: 21px;
    height: 11px;
}

.btn-center-line {
    max-width: 651px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 163, 255, 0.2);
    margin-top: 23px;
    margin-bottom: 15px;
}

.vision-btn-text {
    height: 100px;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
    max-width: 593px;
    width: 100%;
    text-align: left;
    margin-left: 27px;
    overflow: hidden;
    height: 0px;
    transition: all .5s;
}

.active {
    transition: all .5s;
    height: 146px;
    margin-top: 23px;
}

@media(min-width:1440px) {
    .design-container {
        max-width: 1708px;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:768px) {
    .design {
        padding-top: 120px;
        padding-bottom: 125px;
    }

    .design-container {
        flex-direction: column;
    }
    .design-left{
        max-width: 674px;
        height: 674px;
    }
    .hours{
        max-width: 278px;
        height: 274px;
    }
    .hours-title{
        font-size: 65px;
    }
    .design-right-title {
        font-size: 55px;
        font-weight: 600;
    }

    .design-right-text {
        margin-bottom: 70px;
    }
}

@media(max-width:378px) {
    .design {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    .design-left {
        max-width: 320px;
        width: 100%;
        height: 500px;
        border-radius: 20px;
    }

    .hours {
        width: 215px;
        height: 200px;
    }

    .hours-title {
        font-size: 40px;
    }

    .hours-text {
        font-size: 16px;
    }

    .design-right-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
    }

    .design-right-line {
        display: none;
    }

    .design-right-text {
        font-size: 18px;
        margin-bottom: 50px;
        text-align: center;
        line-height: 140%;
    }

    .vision-btn-title {
        font-size: 25px;
    }

    .vision-btn-text {
        font-size: 15px;
        line-height: 150%;
        margin-left: 0;
    }
}

.business {
    padding-top: 133px;
    padding-bottom: 112px;
}

.business-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1367px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.business-title {
    max-width: 430px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 25px;
}

.business-text {
    margin-top: 25px;
    margin-bottom: 19px;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
}

.book-link {
    margin-top: 19px;
    max-width: 288px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(0, 163, 255);
    border: 1px solid rgb(0, 163, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    transition: all .3s;
}

.book-link:hover {
    background-color: transparent;
}

.business-img {
    max-width: 813px;
    width: 100%;
    height: 542px;
    object-fit: cover;
    filter: drop-shadow(0 0 20px rgba(187, 187, 187, 0.51));
}

@media(max-width:768px) {
    .business {
        padding-top: 125px;
        padding-bottom: 100px;
    }

    .business-container {
        flex-direction: column;
    }
    .business-img{
        max-width: 685px;
        height: 427px;
    }
}

@media(max-width:378px) {
    .business {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    .business-title {
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }

    .business-text {
        line-height: 120%;
    }

    .business-img {
        max-width: 340px;
        width: 100%;
        height: 250px;
        display: block;
    }
}

.creating {
    padding-top: 112px;
    padding-bottom: 104px;
}

.creating-container {
    max-width: 1566px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.creating-top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 39px;
}

.creating-top-box-title {
    max-width: 650px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    position: relative;
}

.line-box {
    max-width: 272px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: relative;
    right: -170px;
    bottom: 40px;
}

.line-box-top-line {
    display: inline-block;
    max-width: 125px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
}

.line-box-bottom-line {
    display: inline-block;
    max-width: 238px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-left: 34px;
}

.creating-top-box-text {
    max-width: 770px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
    padding-left: 46px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.creating-center-box {
    margin-top: 39px;
    display: flex;
    gap: 20px;
    margin-bottom: 42px;
}

.creating-center-box-card {
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgb(14, 14, 14);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 52px;
    display: flex;
    flex-direction: column;
}

.creating-card-title {
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 7px;
}

.creating-card-title2 {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 14px;
}

.creating-card-text {
    max-width: 237px;
    width: 100%;
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 190%;
    margin-bottom: 23px;
}

.creating-link {
    max-width: 157px;
    width: 100%;
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.arrow {
    transition: all .3s;
}

.creating-link:hover .arrow {
    transform: translateX(15px);
}

.creating-bottom-box {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 103px;
    grid-row-gap: 23px;
}

.creating-bottom-box-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(0, 163, 255);
}

@media(max-width:1050px) {
    .creating {
        padding-top: 100px;
    }

    .creating-top-box {
        flex-direction: column;
    }
    .creating-top-box-title {
        text-align: center;
        font-style: 50px;
        font-weight: 600;
        line-height: 120%;
    }

    .line-box {
        display: none;
    }

    .creating-top-box-text {
        padding-left: 0;
        border-left: none;
        line-height: 150%;
        text-align: justify;
    }

    .creating-center-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        overflow: hidden;
        max-width: 770px;
        margin-left: auto;
        margin-right: auto; 
    }

    .creating-bottom-box-title {
        line-height: 100%;
    }
}

@media(max-width:768px) {
    .creating-center-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:378px) {
    .creating {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    .creating-top-box-title {
        font-size: 40px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .creating-top-box-text {
        line-height: 150%;
        font-weight: 400;
    }

    .creating-center-box-card {
        padding: 30px;
    }

    .creating-card-title2 {
        font-size: 30px;
    }

    .creating-bottom-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 63px;
        grid-row-gap: 23px;
    }
}

.brands {
    padding-top: 104px;
    padding-bottom: 152px;
}

.brands-container {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.brands-title {
    max-width: 744px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    text-align: center;
    margin-bottom: 14px;
}

.brands-line-box {
    margin-top: 14px;
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.brands-line-box-top-line {
    max-width: 125px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
}

.brands-line-box-bottom-line {
    max-width: 238px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
}

.brands-card-container {
    width: 100%;
    margin-top: 37px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
}

.brands-card-border {
    max-width: 739px;
    width: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgb(14, 14, 14);
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands-card {
    position: relative;
    max-width: 685px;
    width: 100%;
    border-radius: 10px;
    background: rgb(24, 24, 24);
    padding-top: 42px;
    padding-left: 63px;
    padding-right: 63px;
    padding-bottom: 22px;
}

.card-icon {
    width: 87px;
    height: 87px;
    margin-bottom: 9px;
}

.read-more {
    position: absolute;
    top: 19px;
    right: 17px;
}

.brands-card-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 190%;
}

.brands-card-text {
    max-width: 559px;
    width: 100%;
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
}

.padding-card {
    padding-bottom: 92px;
}

@media(max-width:768px) {
    .brands {
        padding-bottom: 130px;
    }

    .brands-title {
        font-size: 50px;
    }

    .brands-card-container {
        display: flex;
        flex-direction: column;
    }

    .brands-card {
        padding: 40px;
    }

    .card-icon {
        margin-top: 20px;
    }

    .brands-card-title {
        font-style: 30px;
        line-height: 110%;
        margin-bottom: 10px;
    }

    .brands-card-text {
        line-height: 110%;
    }
}

@media(max-width:378px) {
    .brands {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    .brands-title {
        font-size: 33px;
        font-weight: 600;
    }

    .brands-card {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brands-card-title {
        text-align: center;
        font-size: 25px;
    }

    .brands-card-text {
        line-height: 100%;
        text-align: justify;
    }

    .card-icon {
        margin-top: 35px;
        width: 70px;
        height: 70px;
        text-align: center;
    }
}

.story {
    padding-top: 152px;
    padding-bottom: 386px;
}

.story-container {
    max-width: 1486px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.story-img {
    max-width: 787px;
    width: 100%;
    height: 915px;
    display: block;
    object-fit: cover;
    filter: drop-shadow(0 0 20px rgb(196, 196, 196));
}

.story-right {
    max-width: 824px;
    width: 100%;
    position: absolute;
    top: 145px;
    right: 0;
}

.story-right-title {
    max-width: 600px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    text-align: left;
    margin-left: auto;
    margin-bottom: 16px;
}

.story-right-box {
    margin-top: 16px;
    width: 100%;
    border-radius: 10px;
    background: rgb(24, 24, 24);
    padding-top: 60px;
    padding-left: 61px;
    padding-right: 101px;
    padding-bottom: 61px;
}

.story-right-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
    margin-bottom: 19px;
}

.story-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.story-item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 190%;
}

.read-more-btn {
    margin-top: 15px;
    max-width: 212px;
    height: 60px;
    border-radius: 10px;
    background: rgb(0, 163, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
}

@media(max-width:768px) {
    .story {
        padding-top: 130px;
        padding-bottom: 300px;
    }

    .story-right-title {
        text-align: center;
    }

    .story-img {
        display: none;
    }

    .story-right {
        position: relative;
        height: auto;
        top: 0;
    }

    .story-right-text {
        line-height: 150%;
    }

    .story-right-title {
        font-size: 55px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .story-item {
        line-height: 110%;
    }

    .story-right-box {
        padding: 60px;
    }
}

@media(max-width:378px) {
    .story {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .story-right-title {
        font-size: 30px;
        font-weight: 600;
    }

    .story-right-box {
        padding: 25px;
    }

    .story-item {
        font-size: 13px;
    }
}

.partners {
    background-color: rgba(41, 37, 38, 0.2);
    padding-top: 79px;
    padding-bottom: 79px;
}

.partners-conntainer {
    max-width: 1156px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.partners-title {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    text-transform: capitalize;
    text-align: center;
    margin-right: 70px;
}

.partners-logo-box {
    max-width: 1156px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-right: 1px solid rgb(0, 163, 255);
    padding-right: 18px;
}

.partners-logo {
    height: 100px;
}

.border-none {
    border-right: none;
}

@media(max-width:950px) {
    .partners-logo {
        width: 200px;
        height: 80px;
    }
}

@media(max-width:768px) {
    .partners-logo-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .partners-title {
        margin-right: 0;
    }

    .partners-logo-link {
        border: none;
    }
}

@media(max-width:378px) {
    .partners {
        padding-top: 59px;
        padding-bottom: 59px;
    }

    .partners-conntainer {
        gap: 35px;
    }

    .partners-title {
        margin-right: 0;
    }

    .partners-logo {
        width: 150px;
        height: 60px;
    }
}

.prices {
    padding-top: 410px;
    padding-bottom: 97px;
}

.prices-container {
    max-width: 1525px;
    width: 100%;
    height: 969px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    position: relative;
}

.prices-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    text-align: center;
    margin-bottom: 31px;
}

.prices-line {
    max-width: 125px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.prices-btn-box {
    max-width: 437px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 86px;
}

.prices-btn {
    max-width: 215px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    cursor: pointer;
}

.prices-btn-active {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
}

.prices-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 1s;
}

.prices-card-right {
    position: absolute;
    right: 0;
}

.prices-card-left {
    position: absolute;
    left: -1525px;
}

.prices-card {
    max-width: 487px;
    width: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 67px;
    position: relative;
}

.card-center {
    border-radius: 10px;
    background: rgb(24, 24, 24);
}

.prices-card-img {
    display: block;
}

.prices-card-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 190%;
    margin-top: 29px;
}

.prices-card-text {
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 55px;
}

.prices-card-line {
    max-width: 182.5px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 52px;
}

.prices-card-number {
    margin-bottom: 47px;
}

.prices-card-number-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 125.5%;
}

.see-feature-link {
    max-width: 215px;
    width: 100%;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
}

.most-popular {
    position: absolute;
    max-width: 215px;
    width: 100%;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(0, 163, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    border: none;
    top: -30px;
}

@media(max-width:768px) {
    .prices-container {
        height: 2470px;
    }

    .prices-card-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        gap: 35px;
    }
}

@media(max-width:378px) {
    .prices {
        padding-bottom: 70px;
        padding-top: 210px;
    }

    .prices-container {
        height: 2200px;
    }

    .prices-card {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .prices-btn-box {
        margin-bottom: 40px;
    }

    .prices-card-img {
        width: 80px;
        height: 80px;
    }

    .prices-title {
        font-size: 40px;
        font-weight: 600;
    }

    .prices-card-title {
        font-size: 25px;
        margin-top: 20px;
    }

    .prices-card-text {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .prices-line {
        margin-bottom: 40px;
    }

    .prices-card-number-text {
        font-size: 30px;
    }
}

.contact {
    padding-top: 97px;
    padding-bottom: 143px;
}

.contact-container {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.form {
    max-width: 739px;
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgb(14, 14, 14);
    padding: 61px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-top-inp {
    display: flex;
    gap: 20px;
}

.mini-inp {
    max-width: 298px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    border: none;
    outline: none;
    padding-left: 29px;
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.mini-inp::placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.big-inp {
    max-width: 616px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    border: none;
    outline: none;
    padding-left: 29px;
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.big-inp::placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.contact-bottom-inp {
    display: flex;
    gap: 20px;
}

.send {
    margin-top: 28px;
    max-width: 616px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(0, 163, 255);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    border: 1px solid rgb(0, 163, 255);
    transition: all .3s;
}

.send:hover {
    background-color: transparent;
}

.contact-right {
    max-width: 659px;
    width: 100%;
    margin-top: 139px;
}

.contact-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 9px;
}

.contact-line {
    max-width: 125.5px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-left: auto;
    margin-right: 70px;
    margin-bottom: 81px;
}

.contact-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
    margin-bottom: 44px;
}

.contact-us-link {
    max-width: 196px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(0, 163, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 190%;
    border: 1px solid rgb(0, 163, 255);
    transition: all .3s;
}

input {
    padding-right: 10px;
}

.contact-us-link:hover {
    background-color: transparent;
}

@media(max-width:768px) {
    .contact {
        padding-bottom: 120px;
    }

    .form {
        padding: 40px;
    }

    .mini-inp {
        padding-left: 10px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-right {
        margin-top: 100px;
    }

    .contact-line {
        margin-bottom: 50px;
    }
}

@media(max-width:378px) {
    .contact {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .contact-right {
        margin-top: 65px;
    }

    .form {
        padding: 20px;
        gap: 10px;
    }

    .contact-top-inp {
        gap: 10px;
    }

    .contact-bottom-inp {
        gap: 10px;
    }

    .contact-title {
        font-size: 40px;
        text-align: center;
    }

    .contact-line {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .contact-text {
        margin-bottom: 30px;
        text-align: justify;
    }
}

.footer {
    padding-top: 143px;
    padding-bottom: 50px;
}

.footer-container {
    max-width: 1293px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-list {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.footer-nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}

.footer-center {
    max-width: 508px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
    text-align: center;
}

.footer-center-icon-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-icon-link {
    text-decoration: none;
    display: flex;
}

@media(max-width:768px) {
    .footer {
        padding-top: 120px;
    }

    .footer-container {
        flex-direction: column;
        gap: 25px;
    }

    .footer-center {
        gap: 20px;
    }
}

@media(max-width:378px) {
    .footer {
        padding-top: 90px;
        padding-bottom: 40px;
    }

    .footer-container {
        gap: 20px;
    }
}

/* about page */
.about-hero {
    padding-top: 159px;
    padding-bottom: 144px;
}

.about-hero-container {
    max-width: 1506px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-hero-left {
    max-width: 654px;
    width: 100%;
}

.about-hero-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 31px;
}

.about-hero-line {
    max-width: 125.5px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 163, 255);
    margin-bottom: 24px;
}

.about-hero-text {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

.about-hero-right {
    max-width: 800px;
    width: 100%;
    position: relative;
    height: 750px;
}

.about-hero-senior-img {
    width: 395px;
    height: 527px;
    display: block;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.about-hero-midle-img {
    width: 393.58px;
    height: 524.77px;
    display: block;
    position: absolute;
    right: 0;
    top: 114px;
    left: 410px;
    object-fit: cover;
}

.about-hero-jubior-img {
    width: 241px;
    height: 321px;
    display: block;
    position: absolute;
    top: 425px;
    left: 234px;
}

.habits-680 {
    max-width: 680px;
    width: 100%;
}

.mb-24 {
    margin-bottom: 24px;
}

.habits-bg {
    background-image: url(../img/tiny-png/image\ 47.png);
    max-width: 738px;
    width: 100%;
    height: 788px;
}

.hours-transparament {
    width: 335px;
    height: 320px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    margin-left: 24px;
    background-color: transparent;
}

.padding-top {
    padding-top: 144px;
}

@media(max-width:768px) {
    .about-hero {
        padding-top: 50px;
        padding-bottom: 110px;
    }

    .about-hero-container {
        flex-direction: column-reverse;
    }

    .about-hero-senior-img {
        width: 350px;
        height: 487px;
        display: block;
        object-fit: cover;
    }

    .about-hero-midle-img {
        left: 365px;
        width: 350px;
        height: 484px;
        display: block;
        object-fit: cover;
    }

    .about-hero-jubior-img {
        width: 200px;
        height: 281px;
        object-fit: cover;
    }

    .about-hero-right {
        overflow: hidden;
    }

    .about-hero-title {
        font-size: 54px;
        margin-bottom: 20px;
    }
}

@media(max-width:378px) {
    .about-hero {
        padding-top: 35px;
        padding-bottom: 80px;
    }

    .about-hero-title {
        font-size: 40px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .about-hero-line {
        display: none;
    }

    .about-hero-text {
        text-align: justify;
    }

    .about-hero-right {
        height: 500px;
    }

    .about-hero-senior-img {
        width: 230px;
        height: 367px;
    }

    .about-hero-midle-img {
        top: 120px;
        left: 0;
        width: 230px;
        height: 300px;
        left: 150px;
    }

    .about-hero-jubior-img {
        width: 200px;
        height: 250px;
        top: 250px;
        left: 50px;
    }
}

.success {
    padding-top: 251px;
    padding-bottom: 182px;
}

.success-container {
    max-width: 1550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.success-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 125.5%;
    margin-bottom: 201px;
    text-align: center;
}

.success-card-container {
    display: flex;
    flex-direction: column;
    gap: 302px;
}

.choise-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.choise-box-img {
    max-width: 788px;
    width: 100%;
    height: 447px;
    object-fit: cover;
}

.choise-right {
    max-width: 712px;
    width: 100%;
}

.choise-box-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 17px;
}

.choise-box-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
    margin-bottom: 38px;
}

.choise-title-2 {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 17px;
}

.choise-ul-box {
    max-width: 588px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 51px;
}

.choise-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.choise-nav-item {
    color: rgba(255, 255, 255, 0.75);
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 190%;
}

@media(max-width:1086px) {
    .success {
        padding-top: 110px;
        padding-bottom: 130px;
    }

    .success-container {
        flex-direction: column;
        gap: 100px;
    }

    .success-card-container {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }

    .success-title {
        margin-bottom: 100px;
    }

    .choise-box {
        flex-direction: column;
        gap: 25px;
    }

    .success-title {
        font-size: 50px;
        font-style: 600px;
    }


}

@media(max-width:378px) {
    .success {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    .success-title {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 60px;
    }

    .success-card-container {
        gap: 80px;
    }

    .choise-box-img {
        width: 300px;
        height: 200px;
    }

    .choise-box-title {
        font-size: 27px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }

    .choise-box-text {
        line-height: 140%;
        text-align: justify;
        margin-bottom: 25px;
    }

    .choise-title-2 {
        font-size: 27px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }

    .choise-nav-item {
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 5px;
        min-width: 120px;
    }

    .choise-box {
        gap: 20px;
    }
}

.team {
    padding-top: 182px;
    padding-bottom: 176px;
}

.team-container {
    max-width: 1501px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.margin-101 {
    margin-bottom: 101px;
}

.team-bottom-box {
    width: 100%;
    /* filter: blur(15px);
    background: rgba(187, 187, 187, 0.51); */
    display: flex;
    align-items: center;
    gap: 20px;
}

.team-card {
    max-width: 487px;
    width: 100%;
    height: 593px;
    border-radius: 10px;
    background: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 52px;
}

.team-card-title {
    color: rgb(255, 255, 255);
    font-family: Syne, sans-serif;
    font-size: 35px;
    font-weight: 700;
    /* line-height: 190%; */
}

.team-card-text {
    color: rgb(0, 163, 255);
    font-family: Syne, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 190%;
    margin-bottom: 21px;
}

@media(max-width:768px) {
    .team {
        padding-top: 130px;
        padding-bottom: 97px;
    }

    .team-bottom-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .team-card-title {
        font-size: 25px;
    }

    .contact-title {
        margin-top: 15px;
    }
}

@media(max-width:378px) {}

.padding-bottom-195 {
    padding-bottom: 62px;
}

.form-border-none {
    max-width: 739px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-0 {
    margin-top: 0;
}

.border-none-1 {
    border-radius: 0;
}

/* services page */
.services-hero {
    padding-top: 304px;
    padding-bottom: 372px;
}

.services-hero-container {
    max-width: 1506px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.services-hero-left {
    max-width: 807px;
    width: 100%;
    width: 100%;
    position: relative;
    z-index: 11;
}

.services-hero-title {
    color: rgb(255, 255, 255);
    font-family: Nunito, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.services-hero-text {
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 56px;
}

.services-hero-link-box {
    display: flex;
    align-items: center;
    gap: 32px;
}

.services-hero-link {
    display: flex;
}

.services-hero-right {
    max-width: 835.68px;
    width: 100%;
    height: 1015.13px;
    object-fit: cover;
    position: absolute;
    right: -410px;
}

@media(max-width:1141px) {
    .services-hero {
        padding-top: 50px;
        padding-bottom: 93px;
    }

    .services-hero-container {
        justify-content: center;
    }

    .services-hero-title {
        font-size: 55px;
        margin-bottom: 20px;
    }

    .services-hero-text {
        margin-bottom: 40px;
    }

    .services-hero-right {
        display: none;
    }
}

.popular {
    padding-bottom: 288px;
}

.popular-container {
    max-width: 1672px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.popular-title {
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: Syne, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2%;
    text-align: center;
    color: white;
}

.popular-link {
    max-width: 140px;
    width: 100%;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 99px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.popular-logo-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.popular-logo-link {
    display: flex;
}

.popular-logo {
    max-width: 147px;
    width: 100%;
    height: 149px;
    object-fit: cover;
}

@media(max-width:768px) {
    .popular {
        padding-top: 93px;
        padding-bottom: 144px;
    }

    .popular-link {
        margin-bottom: 60px;
    }

    .popular-logo-box {
        overflow: hidden;
        height: 340px;
    }
}

.questions-container {
    max-width: 1147px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.questions-title {
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-bottom: 77px;
}

.questions-title-span {
    color: rgb(0, 163, 255);
}

.questions-box {}

.questions-btn {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 163, 255);
}

.questions-btn-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: pointer;
}

.questions-btn-title {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 27px;
}

.questions-img {
    transition: all .5s;
}

.rotate {
    transition: all .5s;
    transform: rotate(180deg);
}

.questions-box-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 12px;
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.mt-48 {
    margin-top: 48px;
}

.active2 {
    transition: all .5s;
    height: 50px;
}

@media(max-width:768px) {
    .questions-title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .questions-btn-title {
        font-size: 18px;
    }
}

.best {
    padding-bottom: 259px;
}

.best-container {
    max-width: 1550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 163px;
}

.h-186 {
    height: 186px;
}

.h-50px {
    height: 50px;
}